services:
  adsbx:
    image: ghcr.io/sdr-enthusiasts/docker-adsbexchange:latest
    container_name: adsbx
    hostname: adsbx
    restart: unless-stopped
    networks:
      - adsb_bridge
    cpu_period: 50000
    cpu_quota: 7500
    stop_grace_period: 3s
    environment:
      - BEASTHOST=host.docker.internal
      - BEASTPORT=30005
      - UUID=${ADSBX_UUID}
      - SITENAME=${SITE_NAME}
      - TZ=${FEEDER_TZ:-UTC}
      - MLAT=${ADSBX_MLAT_ENABLE:-yes}
      - S6_KILL_GRACETIME=1000
    extra_hosts:
      - "host.docker.internal:host-gateway"
    tmpfs:
      - /run:exec,size=64M
      - /var/log
    healthcheck:
      disable: true
