services:
  airplaneslive:
    image: ghcr.io/sdr-enthusiasts/docker-adsb-ultrafeeder:latest
    container_name: airplaneslive
    hostname: airplaneslive
    restart: unless-stopped
    networks:
      - adsb_bridge
    cpu_period: 50000
    cpu_quota: 7500
    stop_grace_period: 3s
    environment:
      - BEASTHOST=host.docker.internal
      - BEASTPORT=30005
      - ULTRAFEEDER_CONFIG=adsb,feed.airplanes.live,30004,beast_reduce_plus_out
      - UUID=${AIRPLANESLIVE_UUID}
      - MLAT_USER=${SITE_NAME}
      - TZ=${FEEDER_TZ:-UTC}
      - S6_KILL_GRACETIME=1000
    extra_hosts:
      - "host.docker.internal:host-gateway"
    tmpfs:
      - /run:exec,size=64M
      - /var/log
    healthcheck:
      disable: true
