services:
  fr24:
    image: ghcr.io/sdr-enthusiasts/docker-flightradar24:latest
    container_name: fr24
    hostname: fr24
    restart: unless-stopped
    networks:
      - adsb_bridge
    cpu_period: 50000
    cpu_quota: 7500
    stop_grace_period: 3s
    ulimits:
      nofile: 1024
    ports:
      - "8754:8754"
    environment:
      - BEASTHOST=host.docker.internal
      - BEASTPORT=30005
      - FR24KEY=${FR24_SHARING_KEY}
      - MLAT=${FR24_MLAT_ENABLE:-yes}
      - S6_KILL_GRACETIME=1000
      - TZ=${FEEDER_TZ:-UTC}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    tmpfs:
      - /run:exec,size=64M
      - /var/log
    healthcheck:
      disable: true
