services:
  radarbox:
    image: ghcr.io/sdr-enthusiasts/docker-radarbox:latest
    container_name: radarbox
    hostname: radarbox
    restart: unless-stopped
    networks:
      - adsb_bridge
    cpu_period: 50000
    cpu_quota: 7500
    stop_grace_period: 3s
    environment:
      - BEASTHOST=host.docker.internal
      - BEASTPORT=30005
      - SHARING_KEY=${RADARBOX_SHARING_KEY}
      - MLAT=${RADARBOX_MLAT_ENABLE:-yes}
      - TZ=${FEEDER_TZ:-UTC}
      - S6_KILL_GRACETIME=1000
    extra_hosts:
      - "host.docker.internal:host-gateway"
    tmpfs:
      - /run:exec,size=64M
      - /var/log
    healthcheck:
      disable: true
